* {
	font-family: 'Shadows Into Light', cursive;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #59c4c5;
}

.container {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;
    position: relative;
    margin: auto;
}

.container-heta {
    float: left;
    background-color: #fbe2b4;
    width: 40%;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.container-sergei {
    float: right;
    background-color: #fbe2b4;
    width: 40%;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    margin-left: 1%;
    margin-right: 1%;
}


/*color: #323233 & #FF0080*/


.Heta {
	float: left;
	width: 100%;
	text-align: center;
    color: #323233;
	background-color: #ff4c65;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

.Sergei {
	float: left;
	width: 100%;;
	text-align: center;
    color: #323233;
    background-color: #ff4c65;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}


#hetaContent {
    float: left;
    width: 30%;
    padding: 5px;;
    color: #323233;
}

#sergeiContent {
    float: left;
    width: 30%;
    padding: 5px;
    color: #323233;
}

#hetaImage {
    display: none;
    float: left;
    width: 60%;
    padding: 5px;;
    padding-top: 10px;
}

#sergeiImage {
    display: none;
    float: left;
    width: 60%;
    padding: 5px;
    padding-top: 10px;
}

#heta {
    display: block;
    margin: auto;
    float: right;
    border: 1px solid black;
}

#sergei {
    display: block;
    margin: auto;
    float: right;
    border: 1px solid black;
}

#hetaList {
    list-style-type: none;
}

#sergeiList {
    list-style-type: none;
}

