* {
	font-family: 'Shadows Into Light', cursive;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.row {
    width: 100%;
}

.Heta {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
    color: #323233;
	background-color: #FF0080;


}

.Sergei {
	float: left;
	width: 50%;;
	height: 100%;
	text-align: center;
    color: #FF0080;
    background-color: #323233;


}


#hetaContent {
    float: left;
    width: 50%;
}

#sergeiContent {
    float: left;
    width: 50%;
}